@model IEnumerable<AP.Common.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoProyecto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inmueble)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Presupuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoProyecto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inmueble)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Presupuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProyectId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProyectId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProyectId })
        </td>
    </tr>
}

</table>
